{% extends "base.html.twig" %}
{% block title %}Formulaire Anomalus{% endblock %}
{% block body %}
    <link rel="stylesheet" href="css/form.css"/>
    <script src="js/glpi-api.js"></script>
    <script src="js/form.js"></script>

    <main id="main" role="main" class="mt-4 p-2 container bg-white rounded shadow">
        <h1>Formulaire anomalie</h1>
        <form action="anomalie/validation" method="POST">
            <div class="form4 m-2">
                <div class="ml-2 form-group">
                    <label for="ticket_email">Adresse Email</label>
                    <input type="email" class="important form-control" id="ticket_email" name="ticket[email]"
                           pattern="[a-z]+\.[a-z]+@(?:[a-z]+\.)?univ-orleans\.fr" required>
                    <small id="emailHelp" class="form-text text-muted">L'adresse mail doit finir par
                        univ-orleans.fr</small>
                </div>
            </div>

            <h2 class="mr-5 border-top">Information infrastructure</h2>
            {% if QRCode %}
            <div class="border header-fields">
                <div class="d-flex align-self-center flex-wrap">
                    <img src="image/qr-code.png" class="rounded" alt="QrCode" height="250" width="250">
                    <div class="choice-type1 d-flex m-3 header-fields">
                        {% endif %}
                        <div class="form4 m-2">
                            <div class="ml-2 form-group">
                                <label for="ticket_departement">Département</label>
                                <select class="form-control" id="ticket_departement"
                                        name="ticket[departement]"
                                        required {% if departFix %} readonly="readonly" {% endif %}>
                                    <option{% if departFix %}
                                            value="{{ depart }}"
                                            id="valDepart">  {{ depart }}{% else %}> ---- {% endif %}</option>
                                </select>
                            </div>
                            <div class="ml-2 form-group">
                                <label for="ticket_salle">Salle</label>
                                <select class="form-control" id="ticket_salle"
                                        name="ticket[salle]"
                                        required {% if salleFix %} readonly="readonly" {% endif %}>
                                    <option {% if salleFix %}
                                            value="{{ salle }}"
                                            id="valSalle">  {{ salle }}{% else %}> ---- {% endif %}</option>
                                </select>
                            </div>
                            <div class="ml-2 form-group">
                                <label for="ticket_type">Type</label>
                                <select class="form-control" id="ticket_type"
                                        name="ticket[type]"
                                        required {% if typeFix %} readonly="readonly" {% endif %}>
                                    <option {% if typeFix %}
                                            value="{{ type }}"
                                            id="valType">  {{ type }}{% else %}> ---- {% endif %}</option>
                                </select>
                            </div>
                            <div class="ml-2 form-group">
                                <label for="ticket_nom">Appareil</label>
                                <select class="form-control" id="ticket_nom"
                                        name="ticket[nom]"
                                        required {% if nomFix %} readonly="readonly" {% endif %}>
                                    <option {% if nomFix %}
                                            value="{{ nom }}"
                                            id="valNom">  {{ nom }}{% else %}> ---- {% endif %}</option>
                                </select>
                            </div>
                        </div>
                        {% if QRCode %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div id="sectionBinding">
                <h2 class="mr-5 border-top">Source de l'anomalie</h2>
                <div class="form4 m-2">
                    <div class="ml-2 form-group">
                        <label for="ticket_source">Nom</label>
                        <select class="form-control" id="ticket_source" name="ticket[source]" required>
                            <option> ----</option>
                        </select>
                    </div>
                </div>
            </div>

            <h2 class="mr-5 border-top">Informations sur l'anomalie</h2>
            <div class="form4 m-2">
                <div class="ml-2 form-group">
                    <label for="ticket_problem">Nom</label>
                    <select class="form-control" id="ticket_problem" name="ticket[problem]" required>
                        <option> ----</option>
                    </select>
                </div>
            </div>

            <h2 class="mr-5 border-top">Description (optionnelle)</h2>
            <div class="form4 m-2">
                <div class="ml-2 form-group">
                    <label for="ticket_description">Ajouter une description</label>
                    <textarea class="form-control" id="ticket_description" name="ticket[description]"
                              rows="3"></textarea>
                </div>

                <div class="ml-2 form-group">
                    <label for="image"></label>
                    <input type="file" class="form-control-file" name="ticket[file]" id="image"> <!-- TODO TYPE -->
                </div>
            </div>

            <div class="form-buttons">
                <a class="btn btn-danger" href="/">
                    Retour
                </a>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>

        <!-- TODO FIND ANOTHER WAY -->
        <script>
            let source;
            {% for type in Liste_source_ordi %}
            source = new Source("{{ type["name"] }}");
            {% for reason in type["reason"] %}
            source.addReason("{{ reason }}");
            {% endfor %}
            list_source_ordi.push(source);
            {% endfor %}

            {% for type in Liste_source_autre %}
            list_source_autre.push("{{ type }}");
            {% endfor %}

            let departFix = "{{ departFix }}";
            let salleFix = "{{ salleFix }}";
            let typeFix = "{{ typeFix }}";
            let nomFix = "{{ nomFix }}";
            let qrCode = "{{ QRCode }}";
        </script>
    </main>
{% endblock %}
