{% extends "base.html.twig" %}
{% block title %}Formulaire Anomalus{% endblock %}
{% block body %}
    <link rel="stylesheet" href="css/form.css"/>
    <script src="js/glpi-api.js"></script>
    <main id="main" role="main" class="mt-4 p-2 container bg-white rounded shadow">
        <h1>Erreur dans le formulaire anomalie</h1>
        <section>
            <h3>E-mail :</h3>
            <input class="form-control" type="text" value="{{ email }}" disabled/>
        </section>
        <section>
            <h3>Département :</h3>
            <input class="form-control" type="text" value="{{ departement }}" disabled/>
        </section>
        <section>
            <h3>Salle :</h3>
            <input class="form-control" type="text" value="{{ salle }}" disabled/>
        </section>
        <section>
            <h3>Type :</h3>
            <input class="form-control" type="text" value="{{ type }}" disabled/>
        </section>
        <section>
            <h3>Nom :</h3>
            <input class="form-control" type="text" value="{{ nom }}" disabled/>
        </section>
        <section>
            <h3>Source :</h3>
            <input class="form-control" type="text" value="{{ source }}" disabled/>
        </section>
        <section>
            <h3>Problem :</h3>
            <input class="form-control" type="text" value="{{ problem }}" disabled/>
        </section>
        <section>
            <h3>Description :</h3>
            <input class="form-control" type="text" value="{{ description }}" disabled/>
        </section>
        <section>
            <h3>Photo :</h3>
        </section>
    </main>
{% endblock %}
