{% extends "base.html.twig" %}

{% block title %}Scanner{% endblock %}

{% block js %}
    <script src="js/glpi-api.js"></script>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // handle the scanned code as you like, for example:
            console.log(`Code matched = ${decodedText}`, decodedResult);


            const x = document.getElementById("d1");
            x.setAttribute("style", "display:block");

            document.getElementById("d2").setAttribute("style", "display:none");


            const lien = document.getElementById('val');
            //lien.innerHTML = decodedText; //pour aficher le lien dans le bouton
            lien.href = decodedText;
            renameSelect(decodedText);

        }

        async function renameSelect(href) {
            let departement = valueInHref(href, "departement");
            let salle = valueInHref(href, "salle");
            let type = valueInHref(href, "type");
            let nom = valueInHref(href, "nom");

            let departBAl = document.getElementById("valDepart");
            let salleBAl = document.getElementById("valSalle");
            let typeBAl = document.getElementById("valType");
            let nomBAl = document.getElementById("valNom");


            departement = await GlpiApi.loadNameRoom(departement);
            salle = await GlpiApi.loadNameRoom(salle);
            nom = await GlpiApi.loadNameAppareil(nom, salle);

            console.log(departement);
            console.log(salle);
            console.log(type);
            console.log(nom);


            departBAl.text = departement;
            typeBAl.text = type;
            salleBAl.text = salle;
            nomBAl.text = nom;
        }

        function valueInHref(lien, valueName) {
            let valeur = "";
            let valeurName = "";
            let egalePasPasser = new Boolean(true);
            for (let i = 0; i < lien.length; i++) {
                if (lien[i] === "?") {
                    valeurName = "";
                } else if (lien[i] === "&") {
                    if (valeurName === valueName) {
                        return valeur;
                    }

                    valeurName = "";
                    egalePasPasser = Boolean(true);
                } else if (lien[i] === "=") {
                    valeur = "";
                    egalePasPasser = Boolean(false);
                } else {
                    valeur += lien[i];
                    if (egalePasPasser) {
                        valeurName += lien[i];
                    }
                }
            }
            if (valeurName === valueName) {
                return valeur;
            }
            console.log("un?");
            console.log(valeurName);
            return "-";
        }

        function onScanFailure(error) {
            // handle scan failure, usually better to ignore and keep scanning.
            // for example:
            console.warn(`Code scan error = ${error}`);
        }
    </script>
{% endblock %}


{% block addMeta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
{% endblock %}


{% block body %}
    <main id="main" role="main" class="mt-4 p-2 container bg-white rounded shadow">
        <h1>Formulaire anomalie</h1>
        <div id="d1" style='display:none' class="border header-fields">
            <div class="d-flex align-self-center flex-wrap">
                <img src="image/qr-code.png" class="rounded" alt="QrCode" height="250" width="250">
                <div class="choice-type1 d-flex m-3 header-fields">
                    <div class="form4 m-2">

                        <div class="ml-2 form-group">
                            <label for="ticket_departement">Departement</label>
                            <select class="form-control" id="ticket_departement"
                                    name="ticket[departement]"
                                    required disabled>
                                <option
                                        value="depart" id="valDepart"> depart
                                </option>
                            </select>
                        </div>
                        <div class="ml-2 form-group">
                            <label for="ticket_salle">Salle</label>
                            <select class="form-control" id="ticket_salle"
                                    name="ticket[salle]"
                                    required disabled>
                                <option
                                        value="salle" id="valSalle"> salle
                                </option>
                            </select>
                        </div>
                        <div class="ml-2 form-group">
                            <label for="ticket_type">Type</label>
                            <select class="form-control" id="ticket_type"
                                    name="ticket[type]"
                                    required disabled>
                                <option
                                        value="type" id="valType"> type
                                </option>
                            </select>
                        </div>
                        <div class="ml-2 form-group">
                            <label for="ticket_nom">Appareil</label>
                            <select class="form-control" id="ticket_nom"
                                    name="ticket[nom]"
                                    required disabled>
                                <option
                                        value="nom" id="valNom"> nom
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#lien" id="val" class="btn btn-outline-success">créer un ticket</a>
        </div>
        <div id="d2">
            <div id="reader" width="600px" height="500px"></div>
            <script>
                let html5QrcodeScanner = new Html5QrcodeScanner(
                    "reader",
                    {fps: 10, qrbox: {width: 600, height: 500}},
                    false
                );
                html5QrcodeScanner.render(onScanSuccess, onScanFailure);
            </script>
        </div>
    </main>
{% endblock %}
