{% extends "base.html.twig" %}
{% block title %}Formulaire Anomalus{% endblock %}
{% block body %}
    <link rel="stylesheet" href="css/form.css"/>
    <script src="js/glpi-api.js"></script>
    <main id="main" role="main" class="mt-4 p-2 container bg-white rounded shadow">
        <h1 class="text-success alert-success">Votre signalement à été effectué avec succès !</h1>
        <section>
            <label class="m-2">E-mail :</label>
            <input class="form-control" type="text" value="{{ email }}" disabled>
        </section>
        <section>
            <label class="m-2">Departement :</label>
            <input class="form-control" type="text" value="{{ departement }}" disabled>
        </section>
        <section>
            <label class="m-2">Salle :</label>
            <input class="form-control" type="text" value="{{ salle }}" disabled>
        </section>
        <section>
            <label class="m-2">Type :</label>
            <input class="form-control" type="text" value="{{ type }}" disabled>
        </section>
        <section>
            <label class="m-2">Nom :</label>
            <input class="form-control" type="text" value="{{ nom }}" disabled>
        </section>
        <section>
            <label class="m-2">Source :</label>
            <input class="form-control" type="text" value="{{ source }}" disabled>
        </section>
        <section>
            <label class="m-2">Problem :</label>
            <input class="form-control" type="text" value="{{ problem }}" disabled>
        </section>
        <section>
            <label class="m-2">Description :</label>
            <textarea class="form-control" name="ticket[description]" rows="3" disabled>{{ description }}</textarea>
        </section>
        <section>
            <label class="m-2">Photo :</label>
        </section>
    </main>
{% endblock %}
