@media (max-width: 800px) {
    .form-buttons {
        display: flex;
        justify-content: center;
    }

    .form-buttons > * {
        margin: 0.3%;
    }

    .choice-type1 select,  .choice-type1 small {
        max-width: 90%;
    }

    .header-fields {
        display: flex;
        flex-wrap: wrap;
    }
}
.important{
  border: 0.15em solid green;
  box-shadow: 0px 0px 0px 2px rgba(0, 255, 0, .2);
}

.img{
  height: 10px;
}

a {
    text-decoration: none;
}
