.Mode {
    text-align: center;
    padding: 0.5em;
}

.section1 {
    text-align: center;
    color: white;
}

.section1 > h1 {
    font-size: 4em;
    padding-top: 1%;
}

.section2 {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.section2 > a {
    margin-left: 1.3%;
    margin-right: 1.3%;
    background-color: white;
}

.btn-custom:hover {
    background-color: #ecbefccc;
}

section.section1 {
    background-image: url('../image/Anomalus.png');
    background-repeat: repeat;
    background-size: 40%;
}

.title-img {
    padding-top: 3em;
    padding-bottom: 2em;
    width: 45%;
    height: auto;
}

.subtitle-img {
    height: 3em;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .span4 p {
    margin-left: 0.6%;
    margin-right: 0.6%;
}


/* Featurettes
------------------------- */

.user-manual {
    padding-right: 10%;
    padding-left: 10%;
}

.featurette-divider {
    margin: 0.6% 0; /* Space out the Bootstrap <hr> more */
}

.featurette {
    padding-top: 8%; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/*.featurette-image {
  margin-right: 40px;
  margin-left: 40px;
}*/

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 3.1em;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    justify-content: center;
}

.featurette {
    height: auto;
    padding: 0;
    display: flex;
    margin: 2em;
    flex: wrap;
    align-items: center;
}

.container.marketing > .featurette:nth-last-child(2n) {
    flex-direction: row-reverse;
}

.featurette-image {
    margin-top: 2em;
    width: 12em;
    /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

.QR {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.lead {
    text-align: justify;
    padding: 2em;
}

@media (max-width: 800px) {
    .title-img {
        padding-top: 2em;
        padding-bottom: 1.2em;
        width: 80%;
    }

    .subtitle-img {
        height: 2em;
    }

    .featurette-image {
        margin-top: 1em;
        width: 100%;
        height: auto;
    }

    .featurette-heading {
        font-size: 2em;
        padding-top: 0.8em;
        padding-bottom: 0.4em;
    }

    .featurette {
        margin: 0;
        flex-direction: column;
    }

    .featurette-divider {
        margin: 0 0;
    }

    .lead {
        padding: 0 0.5em;
    }

    .user-manual {
        padding-right: 0;
        padding-left: 0;
    }
}
